.navbar-logo {
  width: 7em;
}

#about-main .container-fluid {
  height: 50em;
  text-shadow: 3px 3px 5px rgb(0,0,0);
  background-image: url("/assets/img/stgc-aboutus-cover.webp");
  background-size: cover;
  background-position: center;
}

#vision-main {
  background-color: #3D408E;
}

#mission-main {
  background-color: #88060B;
}

#services, #rigs, #about, #vision, #mission, #projects, #clients, #contact {
  position: relative;
  margin: 0;
  margin-top: -90px;
  height: 90px;
  z-index: -99;
  border-top: rgba(0,0,0,0.2);
  opacity: 0;
}

.heading {
  border-bottom: 10px solid;
}

#top div {
  text-shadow: 3px 3px 5px rgb(0,0,0);
}

#media iframe {
  width: 100%;
}

.rig-cover img {
  aspect-ratio: 3/2;
  object-fit: cover;
  border-radius: 0;
  border-top: 7px solid #fff;
  border-bottom: 7px solid #fff;
  box-shadow: 0px 4px 10px rgb(0 0 0 / 20%);
}

.cover {
  height: 50em;
  background-image: url("/assets/img/stgc-home-cover.webp");
  background-size: cover;
  background-position: center;
}

.client {
  height: 15em;
  width: 15em;
  object-fit: contain;
}

.client.client-main {
  height: 20em;
  width: 30em;
}

.about-main-text {
  max-width: 35em;
  min-width: 200px;
}

.contact-main-div {
  background-color: var(--bs-body-bg);
}

